//COLORS
$black: #000;
$darkBlue: #1c1a39;
$gray: #3d3f51;
$coolBlue: #406071;
$lightBlue: #8eb1b3;
$cream: #f2f3d8;
$white: #fff;

//FONTS
$header: amplitude-wide, sans-serif;
$accent: intercom, sans-serif;
$copy: dovetail-mvb, serif;
