//COLORS
$black: #000;
$darkBlue: #1C1A39;
$gray: #3D3F51;
$coolBlue: #406071;
$lightBlue: #8EB1B3;
$cream: #F2F3D8;
$white: #fff;

//FONTS
$header: amplitude-wide, sans-serif;
$accent: intercom, sans-serif;
$copy: dovetail-mvb, serif;
