@import "variables";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: $darkBlue;
  color: $cream;
  font-family: $copy;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  font-family: $header;
  font-weight: 800;
  margin: auto;
  text-transform: uppercase;
  span.second-line {
    display: block;
  }
  &.accent {
    font-family: $accent;
    font-weight: 400;
  }
  &.main-header {
    margin: 6rem auto 0;
    @media only screen and (min-width: 768px) {
      margin: 2rem auto 0;
    }
  }
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

p {
  &.smallprint {
    font-size: 75%;
    font-style: italic;
  }
}

a {
  color: $cream;
  cursor: pointer;
}

.copy {
  max-width: 1100px;
  margin: 1rem auto;
  padding: 0.25rem 1rem;
  text-align: center;
  &.align-left {
    text-align: left;
  }
  &.extra-padding {
    padding: 1rem;
  }
  &.margin-bottom {
    margin-bottom: 2.5rem;
  }
  @media only screen and (min-width: 768px) {
    padding: 0.25rem 3rem;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  &.row {
    flex-direction: row;
  }
  &.center {
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  .full {
    flex: 100%;
  }
  .half {
    flex: 50%;
  }
  .one-third {
    flex: 33.333%;
  }
  .two-thirds {
    flex: 66.666%;
  }
  // @media only screen and (min-width: 1100px) {
  //   flex-direction: row;
  //   &.column {
  //     flex-direction: column;
  //   }
  // }
}

.no-mrgn-top-bttm {
  margin-top: 0;
  margin-bottom: 0;
}

button.button,
a.button,
input.button {
  color: $coolBlue;
  background-color: $cream;
  border-color: $cream;
  padding: 1rem 2rem;
  border-radius: 0;
  box-shadow: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  border: 8px double $cream;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &.active {
    color: $cream;
    background-color: $coolBlue;
    text-underline-offset: 0.1rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
  }
}

.img-wrap {
  position: relative;
  display: flex;
  .img-bkgd {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.hide {
  display: none;
  visibility: hidden;
}

.link-wrap {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &.padding-top {
    padding-top: 1rem;
  }
  &.single-button {
    max-width: 22rem;
    margin: 0 auto;
  }
  &.margin-top-bttm {
    margin: 1rem auto 3rem;
  }
  a.button,
  button.button {
    min-width: 275px;
    margin: 0.25rem;
    text-align: center;
    cursor: pointer;
    z-index: 15;
  }
}

.header-wrap {
  padding: 3rem 0;
  @media only screen and (min-width: 768px) {
    padding: 3rem 0 1rem;
  }
}

.decor-end {
  position: relative;
  width: 100%;
  height: 2rem;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    border-bottom: 3px solid $cream;
    margin: auto;
  }
  &::before {
    left: 1rem;
    width: calc(100% - 2rem);
  }
  &::after {
    left: 2rem;
    width: calc(100% - 4rem);
  }
  &.top {
    margin-bottom: 2rem;
    &::before {
      bottom: 0;
    }
    &::after {
      bottom: 1.25rem;
    }
  }
  &.bottom {
    padding-top: 3rem;
    &::before {
      bottom: 1.25rem;
    }
  }
}

#portfolio {
  padding: 2rem 1rem;
  gap: 3rem 1rem;
  max-width: 1050px;
  margin: auto;
  .half {
    flex: 100%;
  }
  section#featured {
    background-color: $gray;
    padding: 2rem 0 4rem;
    margin-bottom: 2rem;
  }
  @media only screen and (min-width: 1100px) {
    .half {
      flex: calc(50% - 1rem);
      height: 19rem;
      .overlay {
        width: 95%;
        h2 {
          font-size: 2rem;
        }
        p.desc {
          font-size: 1rem;
        }
        ul.features {
          li.feature {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.gallery {
  @media only screen and (min-width: 1100px) {
    flex-direction: row;
    .card {
      margin: 0;
      flex: 45%;
      padding: 1rem 1rem 2rem;
      &:first-child,
      &:last-child {
        padding: 1rem;
      }
      &:last-child {
        padding: 1rem;
        border-bottom: 8px double $lightBlue;
      }
      .text-wrap {
        height: 12rem;
        display: flex;
        justify-content: space-between;
        h3 {
          flex: 33%;
          font-size: 2.5rem;
          margin: 0.25rem auto;
        }
        .desc {
          flex: 33%;
          font-size: 1.25rem;
          margin: 0 auto;
        }
        .stack {
          flex: 33%;
          max-width: fit-content;
          margin: 0 auto;
        }
      }
      .card-img {
        height: 20rem;
      }
      &:nth-child(odd) {
        padding: 2rem 1rem 2rem 0;
        border-right: 2px solid $lightBlue;
      }
      &:nth-child(even) {
        padding: 2rem 0 2rem 1rem;
      }
    }
  }
}

.card,
.toggle-card {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  position: relative;
  padding: 2rem 1rem 4rem;
  margin-bottom: 2rem;
  flex-direction: column;
  border-bottom: 8px double $lightBlue;
  cursor: pointer;
  .text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      margin: 0.5rem auto 1.25rem;
      max-width: 90%;
      &.desc {
        font-style: italic;
      }
    }
  }
  .card-img,
  .video-container {
    position: relative;
    overflow: hidden;
    .img-bkgd {
      object-position: top;
    }
  }
  .overlay {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease-in-out;
    top: 100%;
    .tab {
      display: block;
      font-size: 2.5rem;
    }
    .close {
      font-size: 2.5rem;
      text-align: right;
      padding: 1rem 2rem 0 0;
      display: none;
      visibility: hidden;
    }
    .overlay-text {
      height: 62%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1rem;
    }
    ul.features {
      margin: 1rem 0;
      padding: 0 1rem;
      text-align: left;
      z-index: 15;
      width: 75%;
      display: none;
      li.feature {
        font-size: 2rem;
        padding: 1.25rem 0 0 0;
      }
    }
  }
  &:first-of-type {
    padding-top: 0;
  }
  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }

  &.tab-show {
    .overlay {
      top: calc(100% - 8rem);
      ul.features {
        display: none;
      }
    }
  }
  &.active {
    .card-img {
      .overlay {
        top: 0;
        .tab {
          display: none;
          visibility: hidden;
        }
        .close {
          display: block;
          visibility: visible;
        }
        ul.features {
          display: block;
        }
      }
    }
  }
  .card-img {
    height: 35rem;
  }
  .video-container {
    height: fit-content;
  }
  @media only screen and (min-width: 768px) {
    // height: 30rem;
    .text-wrap {
      p {
        &.desc {
        }
      }
    }
    .card-img {
      height: 33rem;
      .img-bkgd {
      }
    }
    .overlay {
      .tab {
      }
      .close {
      }
      .overlay-text {
      }
      ul.features {
        li.feature {
        }
      }
    }
    &:first-of-type {
    }
    &:last-of-type {
    }
  
    &.tab-show {
      .overlay {
      }
    }
    &.active {
      .card-img {
        .overlay {
          .tab {
          }
          .close {
          }
        }
      }
    }
  }
}

footer {
  padding: 5rem 1rem 7rem;
  border-top: 2px solid $cream;
  margin: 2rem;
  @media only screen and (min-width: 1100px) {
    padding: 4rem 1rem 3rem;
    .footer-title {
      font-size: 2rem;
    }
    @media (-moz-touch-enabled: 0), (pointer: fine) and (min-width: 1100px) {
      a {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.video-container {
  display: none;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  &.active {
    display: block;
    visibility: visible;
  }
}
