@import "variables";

///GENERAL
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: $darkBlue;
    color: $cream;
    font-family: $copy;
    font-weight: 300;
    font-size: 1.25rem;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    font-family: $header;
    font-weight: 800;
    margin: auto;
    text-transform: uppercase;
    span.second-line {
        display: block;
    }
    &.accent {
        font-family: $accent;
        font-weight: 400;
    }
    &.main-header {
        font-size: 2rem;
        @media only screen and (min-width: 768px) {
            font-size: 3rem;
            margin: 1rem auto 0;
        }
    }
}

h2 {
    font-size: 1.75rem;
    @media only screen and (min-width: 768px) {
        font-size: 2.675rem;
    }
}

h3 {
    font-size: 1.5rem;
    @media only screen and (min-width: 768px) {
        font-size: 2.25rem;
    }
}

p {
    &.smallprint {
        font-size: 75%;
        font-style: italic;
        max-width: 800px;
        margin: 0.5rem auto;
    }
}

a {
    color: $cream;
    cursor: pointer;
}

.copy {
    max-width: 1100px;
    margin: 0.25rem auto;
    padding: 0.25rem 1rem;
    text-align: center;
    &.align-left {
        text-align: left;
    }
    &.extra-padding {
        padding: 1rem;
    }
    &.margin-bottom {
        margin-bottom: 2.5rem;
    }
    @media only screen and (min-width: 768px) {
        font-size: 1.5rem;
        padding: 0.25rem 3rem;
    }
    @media only screen and (min-width: 1100px) {
        font-size: 1.5rem;
    }
    p.smallprint {
        font-size: 75%;
    }
}

.flex {
    display: flex;
    flex-direction: column;
    &.row {
        flex-direction: row;
    }
    &.center {
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    .full {
        flex: 100%;
    }
    .half {
        flex: 50%;
    }
    .one-third {
        flex: 33.333%;
    }
    .two-thirds {
        flex: 66.666%;
    }
}

.no-mrgn-top-bttm {
    margin-top: 0;
    margin-bottom: 0;
}

button.button,
a.button,
input.button {
    color: $cream;
    background-color: $coolBlue;
    padding: 0.75rem 1.5rem;
    border-radius: 0;
    box-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: $copy;
    border: 4px double $cream;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:is(:hover, :focus-visible) {
        background: $cream;
        color: $coolBlue;
        border: 4px solid $coolBlue;
    }
    &.expand-bttn {
        background-color: $cream;
        color: $coolBlue;
        border: 3px solid $cream;
        font-weight: 700;
        outline: 2px solid $coolBlue;
        &:is(:hover, :focus-visible) {
            background: $cream;
            color: $coolBlue;
            border: 3px solid $coolBlue;
        }
        &.active {
            text-decoration: underline;
            border: 3px solid $coolBlue;
            letter-spacing: 0.075rem;
            cursor: default;
            &:is(:hover, :focus-visible) {
                background: $cream;
                color: $coolBlue;
            }
        }
    }
    @media only screen and (min-width: 768px) {
        border: 8px double $cream;
        &:is(:hover, :focus-visible) {
            border: 8px solid $coolBlue;
        }
        &.expand-bttn {
            border: 5px solid $cream;
            &:is(:hover, :focus-visible) {
                border: 5px solid $coolBlue;
            }
            &.active {
                border: 5px solid $coolBlue;
            }
        }
    }
    @media only screen and (min-width: 1100px) {
        font-size: 1rem;
        padding: 0.75rem 1.5rem;
    }
}

.img-wrap {
    position: relative;
    display: flex;
    .img-bkgd {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }
}

.hide {
    display: none;
    visibility: hidden;
}

.link-wrap {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &.padding-top {
        padding-top: 1rem;
    }
    &.margin-top-bttm {
        margin: 1rem auto;
    }
    a.button,
    button.button {
        min-width: 200px;
        margin: 0.25rem;
        text-align: center;
        cursor: pointer;
        z-index: 15;
        &.expand-bttn {
            margin-inline: 0.5rem;
        }
    }
}
//END GENERAL

.header-wrap {
    padding: 3rem 0.5rem 0;
    @media only screen and (min-width: 768px) {
        padding: 3rem 0 1rem;
    }
    @media only screen and (min-width: 1100px) {
        padding: 2rem 0 1rem;
    }
}

.decor-end {
    position: relative;
    width: 100%;
    height: 2rem;
    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        border-bottom: 3px solid $cream;
        margin: auto;
    }
    &::before {
        left: 1rem;
        width: calc(100% - 2rem);
    }
    &::after {
        left: 2rem;
        width: calc(100% - 4rem);
    }
    &.top {
        margin-bottom: 2rem;
        &::before {
            bottom: 0;
        }
        &::after {
            bottom: 1.25rem;
        }
    }
    &.bottom {
        padding-top: 3rem;
        &::before {
            bottom: 1.25rem;
        }
    }
}

.card,
.toggle-card {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    position: relative;
    padding: 1rem 0 2rem;
    margin-bottom: 2rem;
    flex-direction: column;
    border-bottom: 8px double $lightBlue;
    width: 100%;
    .text-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            margin: 0.25rem auto 0.75rem;
            max-width: 90%;
            &.desc {
                font-style: italic;
                font-size: 1rem;
            }
            &.stack {
                font-size: 1rem;
            }
        }
    }
    .card-img,
    .video-container {
        position: relative;
        overflow: hidden;
        .img-bkgd {
            object-position: top;
        }
    }
    .card-img {
        height: 13rem;
        width: 100%;
        max-width: 22rem;
        margin-inline: auto;
        .overlay {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            z-index: 10;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            transition: all 0.3s ease-in-out;
            top: 100%;
            .tab {
                display: block;
                font-size: 1rem;
                cursor: pointer;
            }
            .close {
                font-size: 1rem;
                text-align: right;
                width: fit-content;
                margin-left: auto;
                padding: 0.25rem 0.75rem 0;
                display: none;
                visibility: hidden;
                cursor: pointer;
            }
            .overlay-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 0 0.5rem 0 1rem;
                ul.features {
                    margin: 0.25rem 0;
                    padding: 0 0.5rem;
                    text-align: left;
                    z-index: 15;
                    display: none;
                    li.feature {
                        font-size: 0.75rem;
                        padding: 0.25rem 0 0 0;
                        margin-bottom: 4px;
                        &:first-of-type {
                            padding: 0;
                        }
                        &.desktop-only {
                            display: none;
                        }
                        ul {
                            li {
                                font-size: 0.675rem;
                                letter-spacing: 0.05rem;
                                margin-top: 1%;
                            }
                        }
                        a {
                            transition: color 0.2s;
                            &:is(:hover, :focus-visible) {
                                color: $lightBlue;
                                transition: color 0.2s;
                            }
                        }
                    }
                }
            }
        }
    }

    .link-wrap {
        padding-block: 0.5rem;
        a.button {
            font-size: 0.75rem;
            padding: 0.375rem 0.5rem;
        }
    }
    &:first-of-type {
        padding-top: 0;
    }
    &:last-of-type {
        padding-bottom: 0;
        border-bottom: none;
    }

    &.tab-show {
        .overlay {
            top: calc(100% - 3.5rem);
            ul.features {
                display: none;
            }
        }
    }
    &.active {
        .card-img {
            .overlay {
                top: 0;
                .tab {
                    display: none;
                    visibility: hidden;
                }
                .close {
                    display: block;
                    visibility: visible;
                }
                ul.features {
                    display: block;
                }
            }
        }
    }
    .video-container {
        height: fit-content;
    }
    @media only screen and (min-width: 350px) {
        .card-img {
            .overlay {
                .close {
                    font-size: 1.25rem;
                }
                .overlay-text {
                    padding: 0 1rem 0 2rem;
                    ul.features {
                        padding: 0 0.5rem;
                        li.feature {
                            font-size: 0.85rem;
                            &:first-of-type {
                                padding: 0;
                            }
                            ul {
                                li {
                                    font-size: 0.675rem;
                                }
                            }
                        }
                    }
                }
                .link-wrap {
                    &.padding-top {
                        a.button {
                            font-size: 0.75rem;
                            padding: 0.25rem 1.5rem 0.5rem;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 400px) {
        .card-img {
            height: 13rem;
        }
    }

    @media only screen and (min-width: 768px) {
        .text-wrap {
            p {
                &.desc {
                    margin: 0 auto 0.25rem;
                    font-size: 1.125rem;
                }
                &.stack {
                    margin: 0.5rem auto 1rem;
                    font-size: 1.25rem;
                }
            }
        }
        .card-img {
            height: 24rem;
            max-width: 43rem;
            .overlay {
                .tab {
                    font-size: 1.75rem;
                }
                .close {
                    font-size: 2.25rem;
                    padding: 0.25rem 1.5rem 0;
                }
                .overlay-text {
                    padding: 0 2rem 0 3rem;
                    ul.features {
                        padding: 0 0.5rem;
                        li.feature {
                            font-size: 1.5rem;
                            padding: 0.5rem 0 0 0;
                            &:first-of-type {
                                padding: 0;
                            }
                            &.desktop-only {
                                display: list-item;
                            }
                            ul {
                                li {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
                .link-wrap {
                    padding-block: 1rem;
                    a.button {
                        font-size: 1rem;
                        padding: 0.75rem 1.5rem;
                        min-width: 250px;
                    }
                }
            }
        }
        &.tab-show {
            .overlay {
                top: calc(100% - 5rem);
                .tab {
                    p {
                        margin: 1rem auto;
                    }
                }
                ul.features {
                    display: none;
                }
            }
        }
    }
    @media only screen and (min-width: 1100px) {
        justify-content: flex-start;
        .text-wrap {
            p {
                &.desc {
                    margin: 0 auto 0.25rem;
                    min-height: 48px;
                }
                &.stack {
                    margin: 0.25rem auto 1rem;
                    font-size: 1.25rem;
                }
            }
        }
        .card-img {
            max-width: 47rem;
            .overlay {
                .tab {
                    p {
                        font-size: 2rem;
                    }
                }
            }
        }
        .link-wrap {
            &.margin-top-bttm {
                margin: 0.5rem auto 1.25rem;
            }
        }
        &.featured {
            .card-img,
            .video-container {
                width: 85%;
                margin: auto;
            }
            .card-img {
                height: 28rem;
            }
        }
        &.tab-show {
            .overlay {
                .tab {
                    p {
                        margin: 1rem auto;
                    }
                }
                ul.features {
                    display: none;
                }
            }
        }
    }
}

.video-container {
    display: none;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    &.active {
        display: block;
        visibility: visible;
    }
}

#portfolio {
    padding: 2rem 1rem;
    gap: 3rem 1rem;
    max-width: 1050px;
    margin: auto;
    .half {
        flex: 100%;
    }
    section#featured {
        background-color: $gray;
        width: 100%;
        padding: 2rem 0.5rem 4rem;
        margin-bottom: 2rem;
    }
    @media only screen and (min-width: 768px) {
        section#featured {
            padding: 2rem 1rem 4rem;
        }
    }
    @media only screen and (min-width: 768px) {
        padding: 2rem 1rem 2rem;
        section#featured {
            padding: 2rem 2rem 4rem;
        }
    }
    @media only screen and (min-width: 1100px) {
        padding: 2rem 1rem 6rem;
        section#featured {
            padding: 2rem 4rem 4rem;
        }
    }
}

.gallery {
    @media only screen and (min-width: 768px) {
        .card {
            padding-bottom: 4rem;
            &:last-child {
                margin-bottom: 4rem;
            }
            .card-img {
                height: 23rem;
            }
        }
    }
    @media only screen and (min-width: 1100px) {
        flex-direction: row;
        .card {
            flex: 45%;
            margin-bottom: 0;
            &:last-child {
                border-bottom: 8px double $lightBlue;
            }
            .card-img {
                height: 19rem;
                margin: 0;
                .overlay {
                    .tab {
                        p {
                            font-size: 1.5rem;
                        }
                    }
                    .close {
                        padding: 0 1rem 0;
                        font-size: 1.5rem;
                    }
                    .overlay-text {
                        padding: 0.5rem 2rem 0.5rem;
                        ul.features {
                            margin: 0.25rem 0;
                            li.feature {
                                padding: 0.5rem 0 0 0;
                                font-size: 1.25rem;
                                &:first-of-type {
                                    padding: 0;
                                }
                            }
                        }
                    }
                    .link-wrap {
                        padding-top: 0.25rem;
                        &.padding-top {
                            padding-top: 0.125rem;
                            a.button {
                                font-size: 1rem;
                                padding: 0.5rem 1rem;
                            }
                        }
                    }
                }
            }
            &:nth-child(odd) {
                border-right: 2px solid $lightBlue;
                padding: 2rem 2rem 3rem 0;
            }
            &:nth-child(even) {
                padding: 2rem 0 3rem 2rem;
            }
            &.tab-show {
                .overlay {
                    top: calc(100% - 4.5rem);
                }
                &.active {
                    .overlay {
                        top: 0;
                    }
                }
            }
        }
    }
}

footer {
    padding: 2rem 1rem 3rem;
    border-top: 2px solid $cream;
    background-color: $coolBlue;
    @media only screen and (min-width: 768px) {
        padding: 4rem 1rem 3rem;
        .footer-title {
            font-size: 2rem;
        }
        @media (-moz-touch-enabled: 0), (pointer: fine) and (min-width: 768px) {
            a {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
